
		* {
			margin: 0;
			padding: 0;
            font-family: cursive;
            border-radius: 10px;
            
		}

		.navbar {
			
			position: sticky;
			top: 0;
			cursor: pointer;
		}

		.background {
			background: rgb(41, 109, 172);
			background-blend-mode: darken;
			background-size: cover;
            background-size: 100%;
			
		}

		.nav-list {
            
			width: 60%;
            display: flex;
            
		}

        
		.nav-list {
			list-style: none;
			padding: 10px 30px;

            
		}

        
		.nav-list a{
			padding: 30px;
			display: flex;
			align-items: right;
			text-decoration: none;
            padding: 40PX;
			color: white;
		}

		.nav-list a:hover {
			color: rgb(12, 170, 233);
            text-decoration-line: underline;
            text-decoration-style:double;
		}

		.rightnav {
			width: 30%;
			
		}

		#search {
			padding: 5px;
			font-size: 17px;
			border: 2px solid grey;
			border-radius: 9px;
		}

		.firstsection {
            margin: 5px;
			background-image: url("./assests/bg1.jpg") ;
            background-repeat: no-repeat;
            background-size: 100%;
			height: 400px;
		}

		#web{
			
			margin-top: 100px;
		}

		#pic{
			float: left;
			margin-left: 500px;
			
		}

		.secondsection {
            
			background-image: url("./assests/bg3.jpg") ;
            background-repeat: no-repeat;
            background-size: 100%;
			height: 400px;
		}

		.box-main {
			display: flex;
			justify-content: center;
			align-items: center;
			color: black;
			max-width: 80%;
			margin: auto;
			height: 80%;
		}

		.firsthalf {
			width: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;
		}

		.secondhalf {
			width: 30%;
		}

		.margin{
			margin-left: 150px;
		}
		.secondhalf img {
			width: 70%;
			border: 4px solid white;
			border-radius: 150px;
			display: block;
			margin: auto;
		}

		.text-big {
			
			font-weight: bold;
			font-size: 35px;
			padding-top: 20px;
			margin-right: 80px;
		}

		.text-small {
			font-size: 18px;
		}

		.button {
			background-color: #4CAF50;
			border: none;
			color: white;
			margin-left: 50PX;
			padding: 15px 50px;
			text-align: center;
			text-decoration: none;
			display: inline-block;
			font-size: 16px;
			margin: 4px 10px;
			cursor: pointer;
		  }
		.section {
			height: 400px;
			display: flex;
			align-items: center;
			justify-content: center;
			max-width: 90%;
			margin: auto;
		}

		.section-Left {
			flex-direction: row-reverse;
		}

		
		.png{
			
			margin: 10px;
			padding: 20px;
		}

		
		.text-footer {
			margin-top: 30px;
			text-align: center;
			padding: 30px 0;
			font-family: 'Ubuntu', sans-serif;
			display: flex;
			justify-content: center;
			color: white;
		}
